@use '../media' as me;

.services {
    margin: 0 auto;
    align-items: center;

    &__list {
        &:not(:last-child) {
            margin: 0 0 100px 0;

            @include me.mobile {
                margin: 0 0 70px 0;

            }
        }
    }



}