@use '../mixins' as m;
@use '../media' as me;

.team__card {
    padding: 40px 35px;
    border: 1px solid black;
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow);
    height: 100%;

    @include me.mobile {
        padding-inline: 50px;
    }

    &-header {
        display: flex;
    }

    &-image {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &-info {
        align-self: end;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &-link {
        display: flex;
        align-self: start;
        margin-left: auto;

        @include m.flex-center;
        @include m.square(34px);

        color: var(--color-accent);
        background-color: var(--color-dark);
        border-radius: 50%;
        
    }

    &-name {
        &:not(:last-child) {
            margin-bottom: 3px;
        }
    }

    &-body {
        margin-top: 28px;
        padding: 28px 0 0 0;
        border-top: 1px solid black;

        @include me.mobile {
            margin-top: 20px;
            padding: 20px 0 0 0;
        }
    }
}