@use'media' as me;
@use 'mixins' as m;

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: 20px;
  }

.visually-hidden {
    @include m.visually-hidden;
  }

.hidden-mobile {
    @include me.mobile {
        display: none !important;

    }
}

.visible-mobile {
    @include me.mobile-above {
        display: none !important;

    }
}

